{% extends "layout.html" %}

{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'pages/css/style.css' %}">
{% endblock %}

{% block title %}
    Register
{% endblock %}

{% block content %}




    
<div class="container container-lg">

    <div class="row">
        
        <div class="col-12 mt-5">
            <form method="post">
            {% csrf_token %}
            {% if error %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endif %}
            <div class="mb-3">
                <label for="username" class="form-label">Kullanıcı Adı</label>
                <input type="username" name="username" id="username" class="form-control" required 
                value="{% if username %}{{username}}{% endif %}">  {% comment %}bu kısmı hata mesajından sonra silinmesin diye{% endcomment %}
                
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" id="email" class="form-control" required 
                value="{% if username %}{{email}}{% endif %}">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Parola</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="repassword" class="form-label">Parola tekrar</label>
                <input type="password" name="repassword" id="repassword" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary">Kayıt Ol</button>
            </form>
            
        </div>

    </div>

</div>
    

{% endblock content %}
