{% extends "layout.html" %}

{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'pages/css/style.css' %}">
{% endblock %}

{% block title %}
    İçecekler Kategorileri
{% endblock %}

{% block content %}

    <div class="container container-lg pt-1">
        <div class="row">
            
            <div class="col-12 ">
                <form action="{% url "create_brunchCategories" %}" method="POST" novalidate enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include "partials/_form.html" %}
                    <button class="btn btn-primary" type="submit">Kayıt Ekle</button>
                </form>

               

            </div>

           
        </div>

   </div>
    

{% endblock content %}
